<div style="text-align: center;">
  
  <style type="text/css;"> #element1 {display:inline-block;margin-right:10px;font-size: xx-large;} 
    #element2 {display:inline-block;font-style: italic; color: crimson;font-weight: bold;font-size: xx-large;} </style>
    <div id="element1"> Welcome to</div>
    <div id="element2">{{title}}</div>
  <!-- <h1 style="font-style: oblique, italic; color: crimson;">
     {{title}}!
  </h1> -->
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">{{subtitle}}</h3>
  <app-value></app-value>

</div>

